body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #dddddd;
}

.main-container {
    padding: 20px;
    background-color: #dddddd;
    border-radius: 10px;
    box-shadow: 10px 10px 30px #aaaaaa, -10px -10px 30px #ffffff;
}

h2.article-title {
    text-align: center;
    font-size: 2em;
    margin-top: 2em;
}

.mapbox {
    display: flex;
    justify-content: center;
    margin: 2em 0;
    background: #dddddd;
    border-radius: 10px;
    box-shadow: 10px 10px 30px #aaaaaa, -10px -10px 30px #ffffff;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-input {
    margin: 0.5em 0;
    padding: 0.5em;
    width: 80%;
    max-width: 500px;
    border: none;
    border-radius: 5px;
    background: #dddddd;
    box-shadow:  inset 8px 8px 8px #d1cdc7, 
                 inset -8px -8px 8px #ffffff;
}

.form-btn {
    margin-top: 1em;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    background: #dddddd;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow:  8px 8px 8px #d1cdc7, 
                -8px -8px 8px #ffffff;
}

.form-btn:hover {
    background-color: #f10707;
    box-shadow:  inset 4px 4px 4px #d1cdc7, 
                 inset -4px -4px 4px #ffffff;
}

.form-btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
    box-shadow:  4px 4px 4px #d1cdc7, 
                -4px -4px 4px #ffffff;
}
