@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;500;700;800;900;1000&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}
.container {
  display: flex;
  justify-content: space-around; /* Aligns items on the line evenly with equal space around them */
  flex-wrap: wrap; /* Allows the items to wrap onto multiple lines */
  margin: auto; /* Centers the container */
}
.parent {
  flex: 1 1 200px; /* flex-grow | flex-shrink | flex-basis */
  margin: 10px; /* Adds some margin around the cards */
  max-width: 300px; /* Maximum width of the cards */
}


.card {
  padding-top: 100px;
  transform-style: preserve-3d;
  background-image: url("https://images.pexels.com/photos/1629236/pexels-photo-1629236.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center center;
  width: 100%;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
}
.card:hover {
  background-position: 80% 20%;
  transform: rotate3d(0.5, 1, 0, 30deg);
}

.content-box {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.811);
  border-radius: 0px 0px 10px 10px;
  box-shadow: rgba(0, 115, 255, 0.925) 0px 20px 50px -25px;
  transition: all 0.5s ease-in-out;
  padding: 50px 25px 25px 25px;
  transform-style: preserve-3d;
}
.content-box .card-title {
  color: white;
  font-size: 25px;
  font-weight: 900;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 20px);
}
.content-box .card-title:hover {
  transform: translate3d(0px, 0px, 50px);
}
.content-box .card-content {
  padding-top: 15px;
  font-size: 12px;
  color: #b9b9b9;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 20px);
}
.content-box .card-content:hover {
  transform: translate3d(0px, 0px, 50px);
}
.content-box .see-more {
  display: block;
  font-weight: 900;
  font-size: 11px;
  text-transform: uppercase;
  color: #0088ff;
  padding-top: 15px;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 20px);
}
.content-box .see-more:hover {
  transform: translate3d(0px, 0px, 50px);
}

.date-box {
  position: absolute;
  top: 75px;
  left: 25px;
  height: 60px;
  width: 60px;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  box-shadow: #0066ff 0px 20px 60px 0px, #00c8ff 0px 18px 36px -18px;
  transform: translate3d(0px, 0px, 50px);
}
.date-box span {
  display: block;
  text-align: center;
}
.date-box .month {
  color: white;
  font-size: 11px;
  font-weight: 700;
}
.date-box .date {
  font-size: 11px;
  font-weight: 900;
  color: #0088ff;
}
.card1 {
  filter: hue-rotate(600deg);
}

.card2 {
  filter: hue-rotate(150deg);
}

.card3 {
  filter: hue-rotate(300deg);
}

.card4 {
  filter: hue-rotate(90deg);
}